# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer"s response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [48]:
import numpy as py
import pandas as pd

url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df=pd.read_csv(url)

In [49]:
def clean(mydata):
    mydata.rename(columns=lambda x:x.lower().strip().replace(" ","_"),inplace=True)
    mydata = mydata.dropna(subset=["state", "vehicle_type", "vehicle_size", "number_of_open_complaints"])
    mydata = mydata.drop_duplicates()
    return mydata
x=clean(df)

In [56]:
x1 = x[(x["total_claim_amount"] > 1000) & (x["response"] == "Yes")]
x1

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
1527,1527,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
1809,1809,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
2027,2027,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2125,2125,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
2865,2865,FH77504,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
3958,3958,KC26486,Arizona,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
4475,4475,WP58340,Arizona,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
4521,4521,LT72149,Nevada,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A
4566,4566,TC99043,California,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
5013,5013,GP83239,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
5331,5331,UT48216,Nevada,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A
5489,5489,TQ84956,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
5896,5896,TY31217,Washington,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
7255,7255,PN98247,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
8340,8340,MJ51323,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
8367,8367,AJ89108,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
8505,8505,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
8662,8662,YU86361,Washington,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
8835,8835,XT93203,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
9498,9498,IV54766,Oregon,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
9581,9581,GD55093,California,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
10009,10009,YP53257,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [51]:
responseYES = x[x["response"] == "Yes"]
responseYES = responseYES.groupby(["policy_type","gender"])["total_claim_amount"].mean()
responseYES

policy_type     gender
Corporate Auto  F         404.104008
                M         391.370774
Personal Auto   F         457.056315
                M         472.489180
Special Auto    F         495.689401
                M         368.523035
Name: total_claim_amount, dtype: float64

In [52]:
x=clean(df)
states=x["state"].value_counts()
filter_state=states[states>500]
filter_state

state
California    1552
Oregon        1281
Arizona        868
Name: count, dtype: int64

In [58]:
x4 = x.groupby(["education","gender"])["customer_lifetime_value"].agg(["min","max","median"])
x4

                                     min          max       median
education            gender
Bachelor             F       1904.000852  58753.88046  5752.485185
                     M       2030.783687  67907.27050  5797.377350
College              F       2004.350666  61850.18803  5642.596077
                     M       1918.119700  44795.46942  6005.847375
Doctor               F       2395.570000  44856.11397  5789.850900
                     M       2267.604038  32677.34284  5843.989737
High School or Below F       2150.178588  55277.44589  5978.754765
                     M       2132.771675  83325.38119  6081.481291
Master               F       2417.777032  51016.06704  5714.165863
                     M       2357.503128  50568.25912  5512.342258

In [53]:
x=clean(df)
#checkdups=x[x.duplicated()]
#if checkdups.empty:
#   print("no dups")#I WISH I THE """ """ WORKED SO I COULD MULTI COMMENT OUT BETTER THIS IF CICLE I DID TO CHECK FOR DUPLICATES
#else:
#    print(checkdups)
x.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A